<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>
<div class="body_content">
<h1 class="header_text">Movies</h1>
<table border="1">
  <thead>
    <tr>
      <th class="title_col <%= highlight_sort('title') %>">
        <%= link_to "Title #{sort_cue('title')}".html_safe, movies_path(sort_by: 'title', direction: toggle_direction('title')) %>
      </th>
      <th class="rating_col <%= highlight_sort('rating') %>">
        <%= link_to "Rating #{sort_cue('rating')}".html_safe, movies_path(sort_by: 'rating', direction: toggle_direction('rating')) %>
      </th>
      <th class="date_col <%= highlight_sort('release_date') %>">
        <%= link_to "Release Date #{sort_cue('release_date')}".html_safe, movies_path(sort_by: 'release_date', direction: toggle_direction('release_date')) %>
      </th>
      
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show this movie", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<button class="nav_button">
<%=  link_to "New movie", new_movie_path %>

</button>
